# IDE and Editor files
.vs/
.idea/
*.iml
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.history
.ionide

# OS files
.DS_Store

# Dependencies
node_modules/
jspm_packages/
web_modules/
bower_components/

# Build output
dist/
build/Release

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
.yarn/cache
.yarn/unplugged
.pnp.*
.yarn-integrity

# Config files with sensitive information
config.ts
config.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Heap snapshots
*.heapsnapshot

# Coverage
coverage
*.lcov
.nyc_output
lib-cov

# Caches
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache
.fusebox/
.grunt

# Optional REPL history
.node_repl_history

# npm pack output
*.tgz

# node-waf configuration
.lock-wscript

# Framework build outputs
.next
out
.nuxt
.docusaurus
.vuepress/dist
.temp
.svelte-kit
.serverless/
.webpack/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# VSCode testing
.vscode-test

# Built VSCode Extensions
*.vsix

# Archives
*.zip
docs/